.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    border: 1px solid #222222;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.projectHeader:global(.__wab_instance) {
  position: relative;
}
.section__nqsmJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__nqsmJ {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.img__ufUGc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 700px;
  min-width: 0;
  flex-shrink: 0;
}
.img__ufUGc > picture > img {
  object-fit: cover;
}
.section__qEBbJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  row-gap: 16px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 120px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__qEBbJ {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
.freeBox__lCFe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-wrap: nowrap;
  align-content: stretch;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lCFe {
    padding-left: 8px;
  }
}
.h3__qdVeg {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__qdVeg {
    font-size: 40px;
  }
}
.text___5KUvd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__lunsP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lunsP {
    padding-left: 8px;
  }
}
.h3___4EnlW {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3___4EnlW {
    font-size: 40px;
  }
}
.text__jbTjC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__r7HV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r7HV {
    padding-left: 8px;
  }
}
.h3__qv0A3 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__qv0A3 {
    font-size: 40px;
  }
}
.text___8DxTk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.section__nMxNr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 120px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__nMxNr {
    padding-top: 150px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__edF5C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edF5C {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
.img__b6Nv5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__b6Nv5 > picture > img {
  object-fit: cover;
}
.columns__dbUIe {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 60px;
  min-width: 0;
  --plsmc-rc-col-gap: 60px;
  padding: 60px 0px 0px;
}
.columns__dbUIe > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__dbUIe > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dbUIe {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 60px;
    min-width: 0;
    --plsmc-rc-col-gap: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dbUIe > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___4CqD3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.img__zZ4Ey {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 600px;
  min-width: 0;
  flex-shrink: 0;
}
.img__zZ4Ey > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zZ4Ey {
    height: 300px;
    flex-shrink: 0;
  }
}
.column___3Drue {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3Drue {
    padding: 0px;
  }
}
.img__azBqa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 600px;
  min-width: 0;
  flex-shrink: 0;
}
.img__azBqa > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__azBqa {
    height: 300px;
    flex-shrink: 0;
  }
}
.freeBox__c1Bet {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c1Bet {
    padding-left: 8px;
  }
}
.h3__afCbv {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__afCbv {
    font-size: 40px;
  }
}
.text__dSUmO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.section__d9DSk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 0px 0px 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__d9DSk {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__nVvzq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nVvzq {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
.img__n0Ebr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__n0Ebr > picture > img {
  object-fit: cover;
}
.freeBox___4Nwp0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Nwp0 {
    padding-left: 8px;
  }
}
.h3___6FZnb {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3___6FZnb {
    font-size: 40px;
  }
}
.text__nxKwu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.section__bzeRw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 150px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__bzeRw {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    min-width: 0;
  }
}
.freeBox___0Cghs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  padding-bottom: 64px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    font-size: 40px;
  }
}
.columns__njLhN {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 32px;
  min-width: 0;
  --plsmc-rc-col-gap: 32px;
}
.columns__njLhN > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__njLhN > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__njLhN {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__njLhN > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__twi9T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.projectCard__lbfyG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__riYlm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.projectCard___4FAar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 90px;
}
.contactSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
